In [1]:
import numpy as np
import pandas as pd

In [2]:
ct1_ll = np.load('LL/costheta_1_ll.npy')
ct2_ll = np.load('LL/costheta_2_ll.npy')

In [3]:
np.save('costhetas_LL.npy', np.stack([ct1_ll, ct2_ll]))

In [5]:
ct1_tl = np.load('TL/costheta_1_tl.npy')
ct2_tl = np.load('TL/costheta_2_tl.npy')

In [6]:
ct_dic_tl = {'ct1': ct1_tl, 'ct2': ct2_tl}
df_ct_tl = pd.DataFrame(ct_dic_tl)

In [7]:
ct1_tt = np.load('TT/costheta_1_tt.npy')
ct2_tt = np.load('TT/costheta_2_tt.npy')

In [8]:
ct_dic_tt = {'ct1': ct1_tt, 'ct2': ct2_tt}
df_ct_tt = pd.DataFrame(ct_dic_tt)

In [9]:
df_ct_tx = pd.concat([df_ct_tl, df_ct_tt]).reset_index(drop=True)
df_ct_tx

             ct1       ct2
0      -0.796518 -0.975872
1      -0.176728 -0.331518
2       0.362848  1.469865
3      -0.171232  1.644646
4      -2.421368 -0.956009
...          ...       ...
374082 -0.510163 -1.048495
374083 -0.130037 -1.694534
374084 -0.410435  0.541588
374085  0.005413  0.621408
374086 -0.057542 -0.873018

[374087 rows x 2 columns]

In [10]:
np.save('costhetas_TX.npy', df_ct_tx.to_numpy().T)

In [ ]:
#